*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.logo{
  padding-left: 4rem;

}
.texto{
    margin-top: 1rem;
}
.navbar-brand{
  display: flex;
  padding-left
}

.navegacion{ 
  padding-left: 20rem;

}

.verde{
color: grey;
}


.btn-transparente {
  background-color: transparent;
 border: 1px solid #ffffff;
 color: white;

}